# -----------------------------
# Python cache / compiled files
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Environment
# -----------------------------
.env
.venv/
env/
venv/

# -----------------------------
# IDE / Editor
# -----------------------------
# PyCharm / IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Output folders
# -----------------------------
input/
outputs/
*.mp4
*.gif
*.png
*.jpg
*.jpeg
*.avi
